<form action="/Logsubmit" method="post">
    <input type="text" placeholder="username" name="userid">
    <input type="password" placeholder="password" name="pass">
    <button>submit</button>
    
</form>